<div class="body">
  <div class="bg">
    <div class="h-100 d-inline-block titre">
      <div class="col-md-6 white-text wow fadeInLeft" data-wow-delay="0.3s">
        <h1 class="font-weight-bold text-center header">PUMA</h1>
      </div>
    </div>
  </div>
</div>
<div class="bh">
  <div class="h-100 align-text-top">
    <div class="col-md-m white-text wow fadeInLeft" data-wow-dalay="0.3s">
      <h3 style="font-family: BebasNeue, sans-serif; font-size: 260%" class="font-weight-bold text-center">UNE
        ACTIVATION DE MARQUE INNOVANTE</h3>
    </div>
  </div>
  <div class="text-center wow fadeInLeft" data-wow-dalay="0.3s">
    <a href="https://www.google.com/search?client=firefox-b-d&q=activation+magasin"
       target="_blank">#ActivationMagasin</a>
    <a href="https://www.google.com/search?client=firefox-b-d&q=activation+de+marque" target="_blank">#ActivationdeMarque</a><br/>
    <a href="https://www.google.com/search?client=firefox-b-d&q=innovation" target="_blank">#Innovation</a>
    <a href="https://www.google.com/search?client=firefox-b-d&q=strategie" target="_blank">#Stratégie</a>
    <a href="https://www.google.com/search?client=firefox-b-d&q=retail" target="_blank">#Retail</a>
  </div>
  <div class="ArtTitre">
    <h1>LANCEMENT DES PUMA ONE</h1>
  </div>
  <div class=text-center>
    <p class="contentArticle wow fadeInLeft" data-wow-delay="0.3s">Avant-gardiste,
      <mark><span style="font-weight: bold">Puma</span></mark>
      a décidé de déclencher une opération à travers les
      magasins
      Intersport. Le
      <mark><span style="font-weight: bold"> Mur Digital
        Interactif</span></mark>
      a ainsi répondu aux besoins
      <mark><span style="font-weight: bold">d’activation de la marque.</span></mark>
    </p>
  </div>
  <div style="margin-bottom: 1em;">
    <img style="width: 48.3%;" src="../../../assets/img/partenaires/ARTICLE1.jpg" alt="ARTICLE1"
         class=" image-article rounded wow fadeInUp img-fluid">
    <img style="width: 51.7%;" src="../../../assets/img/partenaires/ARTICLE2.jpg" alt="ARTICLE2"
         class=" image-article rounded wow fadeInUp img-fluid"></div>
  <div class="ArtTitre wow fadeInLeft" data-wow-delay="0.3s">
    <h1 style="font-size: 2em;">Le lancement de produit, un moment clé</h1>
  </div>
  <div class="text-center">
    <p class="contentArticle wow fadeInLeft" data-wow-delay="0.3s">Il est important de corréler les objectifs de
      l’entreprise avec un
      timing à fort potentiel. Pour
      <mark><span style="font-weight: bold">Puma</span></mark>
      , c’est le lancement des
      <mark><span style="font-weight: bold">Puma ONE</span></mark>
      qui a représenté un momentum décisif à une
      activation des points de ventes. Avec le public idéal début septembre, période de renouvellement des licences et
      inscription dans les clubs,
      <mark><span style="font-weight: bold">l'ensemble des visiteurs des magasins Intersports ont passé un moment unique, rare et
      exclusif.</span></mark>
    </p>
  </div>
  <div style="margin-bottom: 9em;" class="text-center">
    <h3 style="font-family: 'Arial', sans-serif" class="font-weight-bold fadeInUp wow h2-responsive"
        data-wow-delay="0.3s">Vous aimez ?</h3>
    <div class="partage fadeInUp wow" data-wow-delay="0.3s">
      <p style="font-family: 'OpenSans-CondLight', sans-serif;text-transform: uppercase;" class="d-inline p-2">
        Partagez:</p><a class="d-inline p-2" href="https://www.linkedin.com/company/digiandco">
      <fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon>
    </a>
    </div>
  </div>
</div>
