<div class="body">
  <div class="bg">
    <div class="h-100 d-inline-block titre">
      <div class="col-md-6 white-text wow fadeInLeft" data-wow-delay="0.3s">
        <h1 class="font-weight-bold text-center header">PUMA</h1>
      </div>
    </div>
  </div>
</div>
<div class="bh">
  <div class="h-100 align-text-top">
    <div class="col-md-m white-text wow fadeInLeft" data-wow-dalay="0.3s">
      <h3 style="font-family: BebasNeue, sans-serif; font-size: 260%" class="font-weight-bold text-center">UNE
        ACTIVATION DE MARQUE INNOVANTE</h3>
    </div>
  </div>
  <div class="text-center">
    <a href="">#ActivationMagasin</a>
    <a href="">#ActivationdeMarque</a><br/>
    <a href="">#Innovation</a>
    <a href="">#Stratégie</a>
    <a href="">#Retail</a>
  </div>
  <div class="ArtTitre">
    <h1>LANCEMENT DES PUMA ONE</h1>
  </div>
</div>
