<div style="padding-top: 8em;" class="text-center">
  <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
    <h1 style="font-family: BebasNeue, sans-serif" class="font-weight-bold">&Aacute; Propos</h1></div>
</div>
<div class="text-center">
  <p class="contentArticle wow fadeInLeft" data-wow-delay="0.3s">(Avant-gardisme et positivisme.) Nous construisons à
    vos côtés les émotions
    positives de votre événement. Provoquant joie et bonne humeur, notre activité
    sur-mesure est centrée sur vous, votre différence et vos valeurs.</p></div>
<div class="text-center">
  <p class="contentArticle wow fadeInLeft" data-wow-delay="0.3s">De l’activation de marque à la communication interne,
    nous touchons à vos
    objectifs d’images dans leur globalité à travers l’événement sous toutes ses
    formes, par le Digital au service de l’Humain.</p>
  <ul class="justify-content-start">
    <li>
      <mark>Grand public</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Sportif</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Culturel</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Afterwork</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Salon</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Séminaire</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Entreprise</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Association</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Marque</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Extérieur</mark>
    </li>
  </ul>
  <ul>
    <li>
      <mark>Intérieur</mark>
    </li>
  </ul>
  <p class="contentArticle wow fadeInLeft" data-wow-delay="0.3s">
    Nous sommes inclusifs et travaillons pour tous
    : entreprises, associations et
    particuliers.
    Nous sommes inclusifs et travaillons pour l’accès à tous
    : hommes, femmes,
    enfants, seniors, adolescents, y compris en situation de handicap
    : moteur,
    visuel, auditif, de communication...</p>
</div>
