<div style="padding-top: 8em;" class="text-center">
  <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
    <h1 style="font-family: BebasNeue, sans-serif; color: rgb(124, 187, 218)" class="font-weight-bold; ">Avant-gardisme
      et positivisme</h1></div>
</div>
<div class="text-center">
  <h3 style="line-height: 70px;" class="ArtTitre wow fadeInLeft" data-wow-delay="0.3s">
    Nous construisons à
    vos côtés les
    <mark>émotions
      positives
    </mark>
    de
    votre événement. Provoquant joie et bonne humeur,
    <mark>notre activité
      sur-mesure est centrée sur vous
    </mark>
    , votre différence et vos valeurs.
  </h3>
</div>
<div class="text-center">
  <p class="contentArticle wow fadeInLeft" data-wow-delay="0.3s">De l’<span class="fakeLink">activation de marque</span>
    à la communication interne,
    nous touchons à <span class="fakeLink">vos
    objectifs d’images</span> dans leur globalité à travers l’événement sous toutes ses
    formes, par <span class="fakeLink">le Digital au service de l’Humain.</span></p>
</div>
<div class="categories">
  <div class="cateTitre">
    <h3>Grand<br>public</h3>
  </div>&nbsp;
  <div class="cateTitre">
    <h3>Sportif</h3>
  </div>&nbsp;
  <div class="cateTitre">
    <h3>Cultu<br>rel</h3>
  </div>&nbsp;
  <div class="cateTitre">
    <h3>Afterwork</h3>
  </div>

  <h3>Salon</h3>

  <h3>Séminaire</h3>

  <h3>Entreprise</h3>

  <h3>Association</h3>

  <h3>Marque</h3>

  <h3>Extérieur</h3>

  <h3>Intérieur</h3>
</div>
<div class="text-center">
  <p class="contentArticle wow fadeInLeft" data-wow-delay="0.3s">
    <span class="fakeLink">Nous sommes inclusifs</span> et travaillons pour tous
    : entreprises, associations et
    particuliers.
    <span class="fakeLink">Nous sommes inclusifs</span> et travaillons pour l’accès à tous
    : hommes, femmes,
    enfants, seniors, adolescents, y compris en situation de handicap
    : moteur,
    visuel, auditif, de communication...</p>
</div>
