<div class="animated ">
  <div class="">
    <div class=" text-center">
      <div class=" h-100 d-inline-block titre">
        <div class="titre"><h1 style="font-size: 2.5em; color: black; font-weight: bolder"
                               class="wow fadeInUp display-4">On s'occupe de vous !</h1></div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <form [formGroup]="contactForm" class="formu text-center" (ngSubmit)="onSubmit()">
    <label for="prenom"></label>
    <input type="text" id="prenom" name="prenom" placeholder="Prénom" required="required" formControlName="prenom">
    <label for="nom"></label>
    <input type="text" id="nom" name="nom" placeholder="Nom" required="required" formControlName="nom"
    >
    <label for="mail"></label>
    <input type="mail" id="mail" name="mail" placeholder="Email" required="required" formControlName="mail"
    >
    <label for="societe"></label>
    <input type="text" name="societe" id="societe" placeholder="Société" formControlName="societe">
    <label for="message"></label>
    <textarea id="message" name="message" cols="30" rows="10" placeholder="Vos projets, vos idées, ..."
              formControlName="message"></textarea>

    <input type="submit" value="Envoyer">
  </form>
</div>
