<div class="animated fadeIn">
  <form [formGroup]="" class="formu text-center">
    <h2>On s'occupe de vous</h2>
    <label for="prenom"></label>
    <input type="text" id="prenom" placeholder="Prénom">
    <label for="nom"></label>
    <input type="text" id="nom" placeholder="Nom">
    <label for="mail"></label>
    <input type="mail" id="mail" placeholder="Email">
    <label for="societe"></label>
    <input type="text" name="societe" id="societe" placeholder="Société">
    <label for="sujet"></label>
    <select id="sujet">
      <option value="" disabled>Choisissez un sujet</option>
      <option value="1">Lorem</option>
      <option value="2">Ipsum</option>
      <option value="2">Lorsum</option>
      <option value="3">Suremlor</option>
    </select>
    <label for="message"></label>
    <textarea id="message" cols="30" rows="10" placeholder="Vos projets, vos idées, ..."></textarea>
    <mdb-checkbox [checked]="false" [default]="true" class="rtext">En soumettant ce formulaire, j'accepte que les
      informations saisies
      soient exploitées dans le cadre de
      la demande de contact et de la relation commerciale qui peut en découler.
    </mdb-checkbox>
    <input type="submit" value="Envoyer">
  </form>
</div>
