* {
  font-family: "Arial", sans-serif;
}

color-titre {
  color: #3181de !important;
}

.navbar {
  box-shadow: none !important;
}

.btn {
  box-shadow: none !important;
}

.color-button {
  background-image: url('/src/assets/img/icone/arrow-down-sign-to-navigate.svg') !important;
}

img {
  width: 156px;
  height: 40px;
}

.linkModal {
  font-size: 2em;
}

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100000;
}
