.img-footer {
  text-align: center;
  width: 100%;
}

.img-footer img {
  width: 13.5%;
  margin: 20px 20px 20px 20px;
  transition: 0.2s;
}

.img-footer a:hover img:hover {
  width: 17%;
  transition: 0.3s;
}
