<footer>
  <div class="row">
    <div class="img-footer">
      <a href="#"><img class=""
                       [src]="fbpath"
                       alt="logo facebook"></a>
      <a href="#"><img class=""
                       [src]="lnpath"
                       alt="logo linkedin"></a>
      <a href="#"><img class=""
                       [src]="inpath"
                       alt="logo instagram"></a>
      <a href="#"><img class=""
                       [src]="twpath"
                       alt="logo twitter"></a>
    </div>
  </div>
</footer>
