<br/><br/><br/>
<div></div>
<br/><br/><br/>
<footer >
  <div class="row">
    <div class="img-footer">
      <a href="https://www.facebook.com/Digiandco/" target="_blank">
        <fa-icon class="fa-5x" [icon]="faFacebookSquare" ></fa-icon>
      </a>
      <a href="https://www.linkedin.com/company/digiandco" target="_blank">
        <fa-icon class="fa-5x" [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://www.instagram.com/digiandco_/" target="_blank">
        <fa-icon class="fa-5x" [icon]="faInstagram"></fa-icon>
      </a>
      <a href="https://twitter.com/digiandco" target="_blank">
        <fa-icon class="fa-5x" [icon]="faTwitterSquare"></fa-icon>
      </a>
    </div>
  </div>
</footer>
