<br/><br/><br/>
<div></div>
<br/><br/><br/>
<footer >
  <div class="row">
    <div class="img-footer">
      <a href="https://www.facebook.com/Digiandco/">
        <fa-icon class="fa-6x" [icon]="faFacebookSquare"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/company/digiandco">
        <fa-icon class="fa-6x" [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://www.instagram.com/digiandco_/">
        <fa-icon class="fa-6x" [icon]="faInstagram"></fa-icon>
      </a>
      <a href="https://twitter.com/digiandco">
        <fa-icon class="fa-6x" [icon]="faTwitterSquare"></fa-icon>
      </a>
    </div>
  </div>
</footer>
