<div class="bg"></div>
<h1>FC ROUEN</h1>
<div class="container">
  <div class="row">
    <div class="">
      <h2>120 Ans de Ferveur</h2>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>
        Illustre club normand depuis 1899, le Football Club de Rouen fêtait ses 120 ans en Mai 2019. L'occasion de revenir sur plus d'un siècle de football et d'histoire.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="">
      <h2>Célébrer l'histoire</h2>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>
        Précédent la dernière rencontre de l'équipe fanion championne de National 3, un match de gala a été organisé afin de mettre en avant le passé de l'institution, suivi d'un banquet pour les anciens joueurs du Football Club de Rouen accompagnés des acteurs actuels du club.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="">
      <h2>Un club en pleine dynamique</h2>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>
        Le mur digital a été mis en place afin de montrer l'actualité du club, qui fort d'un club de supporters historique, cherche également à être en accord avec les codes de société actuels supporters/spectateurs. Une réussite à laquelle se sont joints les jeunes joueurs de l'école de football.
      </p>
    </div>
  </div>
</div>
