<div class="body">
    <div class="bg">
        <div class="h-100 d-inline-block titre">
            <div class="col-md-6 white-text wow fadeInLeft" data-wow-delay="0.3s">
              <h1 class="font-weight-bold text-center">FC ROUEN</h1>
            </div>
        </div>
    </div>
</div>

<!--    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>FC ROUEN</strong></h1>-->
  <div class="container text-justify mt-5">
    <div class="text-center">
      <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
        <h2 class="font-weight-bold">120 Ans de Ferveur</h2>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.3s">
      <p>
        Illustre club normand depuis 1899, le Football Club de Rouen fêtait ses 120 ans en Mai 2019. L'occasion de revenir sur plus d'un siècle de football et d'histoire.
      </p>

    </div>
    <img class="image-article rounded wow fadeInUp" data-wow-delay="0.3s" src="../../../assets/img/partenaires/FCRouen_1.jpg" alt="fc-rouen">
    <div class="text-center">
      <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
        <h2 class="font-weight-bold">Célébrer l'histoire</h2>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.3s">

      <p>
        Précédent la dernière rencontre de l'équipe fanion championne de National 3, un match de gala a été organisé afin de mettre en avant le passé de l'institution, suivi d'un banquet pour les anciens joueurs du Football Club de Rouen accompagnés des acteurs actuels du club.
      </p>
    </div>

    <div class="text-center">
      <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
        <h2 class="font-weight-bold">Un club en pleine dynamique</h2>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.3s">

      <p>
        Le mur digital a été mis en place afin de montrer l'actualité du club, qui fort d'un club de supporters historique, cherche également à être en accord avec les codes de société actuels supporters/spectateurs. Une réussite à laquelle se sont joints les jeunes joueurs de l'école de football.
      </p>
    </div>

  </div>
