<div class="animated">
  <div class=" h-100 d-inline-block actus wow bounceIn"><h2 style="font-size: 1.2em;"
                                                            class="display-2 font-weight-bold text-center">ACTUS
  </h2></div>
<div class="container">
    <div class="row wow fadeIn article" data-wow-delay="0.3s" *ngFor="let dat of data" [routerLink]="['/article/', dat._id]">
      <div class="float-left">
        <img src='http://localhost:3000/{{dat.articleImage}}' class=" img-thumbnail image-article rounded" alt="dot">
      </div>
      <div class="float-left">
        <div class="wow fadeInUp float-left">
          <p class="titre-artcile float-left text-uppercase">{{dat.art_type }}</p>
          <img src="./assets/img/icone/dot.png" class="img-dot float-left" alt="dot">
          <p class="float-left font-weight-normal">{{dat.created_at }}</p>
          <p class="text-uppercase float-left">{{dat.title }}</p>
        </div>
        <span class="clear"></span>
      </div>
      <div class=""></div>
    </div>
</div>
</div>
