* {
  font-family: Lato, sans-serif;
}

h2, h3, .partage {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: moonGetHeavy, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 2.5em;
  color: black;
  font-family: moonGetHeavy, sans-serif;
}

  h3 {
  font-size: 2.2em;
  background-color: #0275d8 ;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

p {
  padding: 5px;
}

.titre
{
  width: 100%;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: moonGetHeavy, sans-serif;
  font-weight: bold;
  /*background-color: crimson;*/
}

.image-article {
  width: 100%;
}
