 <div class="animated fadeIn">
  <div *ngFor="let articl of article">
    <h1 class="h1-responsive h-100 d-inline-block titre">{{articl.title}}</h1>

    <img class="img-fluid"
         src='http://localhost:3000/{{articl.articleImage}}'
         alt="logo du mur">
    <div class="container">
      <h1 class="h2-responsive">{{articl.subtitle}}</h1>
      <p class="lead text-justify">{{articl.content}}</p>
    </div>
    <h2 class="h2-responsive">Vous aimez ?</h2>
    <div class="partage">
      <p class="d-inline p-2">Partagez:</p><a class="d-inline p-2" href="#">
      <fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon>
    </a>
    </div>
  </div>
 </div>
