 <div class="animated fadeIn">

   <h1 class="h1-responsive h-100 d-inline-block titre">Proposer un nouveau divertissement aux rouennais</h1>

   <img class="img-fluid"
        [src]="wallpath"
        alt="logo du mur">
   <div class="container">
     <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nunc libero, sodales vitae libero eu,
       tempus
       hendrerit nulla.
       Nunc et tempus neque, vitae porttitor lorem. Duis imperdiet suscipit nunc id viverra. Donec felis erat, vulputate sit
       amet mauris in, tempus aliquet tortor.
       Morbi placerat nunc eu neque lobortis, vitae placerat ante hendrerit.
       Sed in accumsan lacus. Mauris tortor libero, lobortis sit amet felis non, porttitor facilisis arcu. Etiam aliquam
       mattis elit, nec egestas lacus luctus et.
       Etiam nec feugiat libero. Sed non dolor cursus, condimentum nulla a, venenatis neque. </p>
   </div>

   <h2 class="h2-responsive">Vous aimez ?</h2>
   <div class="partage">
     <p class="d-inline p-2">Partagez:</p><a class="d-inline p-2" href="#">
     <fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon>
   </a>
   </div>
 </div>
