<div class="body">
  <div class="bg">
    <div class="h-100 d-inline-block titre">
      <div class="col-md-6 white-text wow fadeInLeft" data-wow-delay="0.3s">
        <h1 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold text-center text-uppercase">Novicks
          stadium</h1>
      </div>
    </div>
  </div>
</div>
<img class="image-article rounded wow fadeInUp" data-wow-delay="0.3s"
     src="../../../assets/img/partenaires/9.jpg" alt="rn-rugby">
<div class="container text-justify mt-5">
  <div class="text-center">
    <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
      <h2 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold">Proposer un concept unique en
        Europe</h2>
    </div>
  </div>
  <div class="wow fadeInUp" data-wow-delay="0.3s">
    <p>
      Le Novick's stadium est un établissement dédié à l'univers du sport. Avec un ring de boxe, des gradins pour 80
      spectateurs,
      et un écran géan, c'est une véritable amosphère qui s'installe. Ce concept bar de 1600m2 peut accueillir jusqu'à
      800 personnes!
    </p>

  </div>
  <img class="image-article rounded wow fadeInUp" data-wow-delay="0.3s"
       src="../../../assets/img/partenaires/4.jpg" alt="Rn Rugby">

  <div class="text-center">
    <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
      <h2 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold">Dynamiser la région Rouennaise</h2>
    </div>
  </div>
  <div class="wow fadeInUp" data-wow-delay="0.3s">

    <p>
      L'établissement est partenaire de plusieurs clubs rouennais : Les Dragons pour le hockey, les Vikings pour la
      natation, les Huskies pour le baseball, le FC Rouen pour le football, le Rouen Métropole pour le basket et le
      Rouen Normandie Rugby.
      Aucun sport n'est en reste (cyclisme, boxe...) et le lieu souhaite poser sa pierre à la notoriété du sport local.
    </p>
  </div>
  <img class="rounded float-left image-article wow fadeInUp" data-wow-delay="0.3s"
       src="../../../assets/img/partenaires/8.jpg" alt="masselin">
  <div class="clear"></div>
  <img class="image-article rounded wow fadeInUp" data-wow-delay="0.3s"
       src="../../../assets/img/partenaires/1.jpg" alt="Rn Rugby">
  <div class="text-center">
    <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
      <h2 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold">Une énergie dans l'animation et
        l'innovation</h2>
    </div>
  </div>
  <div class="wow fadeInUp" data-wow-delay="0.3s">

    <p>
      Dans la volonté de toujours se renouveller et au-delà des retransmissions des plus grandes compétitions sportives
      mondiales,
      le Novick's Stadium propose près d'un événement par jour! Dans cette volonté, la mise en place du mur digital
      interactif a
      trouvé sa place au milieu du ring, pour le faire découvrir à la population rouennaise.
    </p>
  </div>

</div>
