.banniere {
  background-color: #1a74d5;
  color: #ffffff;
}
.titre
{
  width: 100%;
  margin-top: 10em;
  margin-bottom: 5em;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  background-color: crimson;
}

.arrow-navigate {
  width: 15%;
}
/*@media only screen and (max-width: 320px) {*/
/*  h2 {*/
/*    font-size: 5em;*/
/*  }*/
/*}*/


