<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col text-center">
        <h2>EQUIPE</h2>
        <h2>D'EXPERIENCE</h2>
        <h2>EVENEMENTIELLE</h2>
        <h5>Rouen</h5>
        <h5>Paris</h5>
        <h3>FC ROUEN</h3>
        <h3>RN RUGBY</h3>
        <h3>MASSELIN</h3>
        <h3>ALTITUDE</h3>
        <h3>CREDIT MUTUEL</h3>
        <h3>NOVICK'S</h3>
        <p>Plus?</p>
        <h2>ACTUS</h2>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>        <div>
        <h4>Article</h4>
        <p>01 01 2020</p>
        <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
      </div>
      </div>
    </div>
  </div>
</main>
