<main>
<!--  <div class="container">-->
<!--    <div class="row">-->

<!--    </div>-->

<!--  </div>-->


  <div class="">
    <div class="mt-5 pt-5">
      <div class=" text-center">
        <div class=" h-100 d-inline-block titre">
          <div class="">
            <h2 class="title h1 my-lg-4">EQUIPE</h2>
            <h2>D'EXPERIENCE</h2>
            <h2>EVENEMENTIELLE</h2>
            <h5>Rouen</h5>
            <h5>Paris</h5>
            <a href="#"><img class="arrow-navigate"
                             [src]="arpath"
                             alt="incône flèche"></a>
          </div>
        </div>
        <div class="mt-5 pt-5">
          <h3>FC ROUEN</h3>
          <h3>RN RUGBY</h3>
          <h3>MASSELIN</h3>
          <h3>ALTITUDE</h3>
          <h3>CREDIT MUTUEL</h3>
          <h3>NOVICK'S</h3>
          <p>Plus?</p>
        </div>
        <div class="actus"><h2>ACTUS</h2></div>
          <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>        <div>
        <h4>Article</h4>
        <p>01 01 2020</p>
        <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
      </div>


        <div class= "container-fluid banniere text-center">
          <div>
            <p>Vous êtes intéréssés? <br>
              On a encore mieux...</p>
          </div>
          <div>
            ON EN PARLE ?
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
