<div class="contenu">
  <div class="wow fadeInUp display-4">
    <h1 class="text-center titre">Nos partenaires</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="wow fadeInUp" data-wow-delay="0.3s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/fc-rouen"><img class="img-fluid"
                                                                             src="../../../assets/img/partenaires/logo/bg_fcrouen.jpg"
                                                                             alt="fcrouen">
          <h2>FC ROUEN</h2>
          <p>120 ans de ferveur</p></a>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.3s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/rn-rugby"><img class="img-fluid"
                                                                             src="../../../assets/img/partenaires/logo/bg_rnr.jpg"
                                                                             alt="fcrouen">
          <h2>RN RUGBY</h2>
          <p>Ensemble, plus vite plus loin</p>
        </a>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.3s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/masselin"><img class="img-fluid"
                                                                             src="../../../assets/img/partenaires/logo/bg_masselin.jpg"
                                                                             alt="fcrouen">
          <h2>RESSORTS<br/> MASSELIN</h2>
        <p>La qualité avant tout</p></a>
      </div>
    </div>
  </div>
</div>
