<div class="contenu">
  <div class="wow fadeInLeft">
    <h1 class="text-center titre">Nos partenaires</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="wow fadeInUp" data-wow-delay="0.2s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/fc-rouen"><img class="img-fluid"
                                                                             src="../../../assets/img/partenaires/logo/bg_fcrouen.jpg"
                                                                             alt="fcrouen">
          <h2>FC ROUEN</h2>
          <p>120 ans de ferveur</p></a>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.3s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/rn-rugby"><img class="img-fluid"
                                                                             src="../../../assets/img/partenaires/logo/bg_rnr.jpg"
                                                                             alt="fcrouen">
          <h2>RN RUGBY</h2>
          <p>Ensemble, plus vite plus loin</p>
        </a>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.4s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/masselin"><img class="img-fluid"
                                                                             src="../../../assets/img/partenaires/logo/bg_masselin.jpg"
                                                                             alt="fcrouen">
          <h2>RESSORTS<br/> MASSELIN</h2>
          <p>La qualité avant tout</p></a>
      </div>
    </div>

    <div class="wow fadeInUp" data-wow-delay="0.5s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/altitude"><img class="img-fluid"
                                                                             src="../../../assets/img/partenaires/logo/bg_altitude.jpg"
                                                                             alt="fcrouen">
          <h2>ALTITUDE</h2>
          <p>Un opérateur pionnier</p></a>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.6s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/novicks"><img class="img-fluid"
                                                                            src="../../../assets/img/partenaires/logo/bg_novicks.jpg"
                                                                            alt="fcrouen">
          <h2>NOVICKS<br/>STADIUM</h2>
          <p>Une énergie dans l'animation et l'innovation</p></a>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.6s">
      <div class="view imgResume">
        <a routerLinkActive="active" routerLink="/partenaires/puma"><img class="img-fluid"
                                                                         src="../../../assets/img/partenaires/PUMAROJOWALLPAPER.jpg"
                                                                         alt="HEADER">
          <h2>PUMA</h2>
          <p>Une activation de marque innovante</p></a>
      </div>
    </div>
  </div>
</div>
