<div class="animated fadeIn">
  <br><br><br>
  <div class="text-center">
    <div class="titre">
      <div class="titre">
        <img style="margin-top: 1em;" class="img-idea wow rotateInUpRight delay-1s" src="./assets/img/on_se_capte.png"
             alt="on se capte?"/>
        <img style="margin-top: 1em;" class="img-idea wow rotateInUpLeft delay-2s" src="./assets/img/une_idee.png"
             alt="une idée?"/>
        <h1 class="wow fadeInUp display-4" style="font-family: moonGetHeavy, sans-serif">BONJOUR</h1>
        <p>Que peut-on faire pour vous?</p>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <div class="pb-md-5">
    <div class="text-center">
      <img style="width: 100%;" [src]="contactpath" alt="rouen">
    </div>
    <div class="text-left">
      <ul style="list-style: none; margin-top: 5px;">
        <li class="js-anim active">
        <li id="rouen" class=""><h3>ROUEN</h3></li>
        <li class="">47 Rue des halettes</li>
        <li class="">76000 ROUEN</li>
        <li id="gras">Franck GADRON</li>
        <li class=""><a href="tel:+33680929292">+336 80 92 92 92</a></li>
        <li class=""><a id="mail" href="mailto:contact@digiandco.com">contact@digiandco.com</a></li>
      </ul>
    </div>
  </div>
</div>


