body {
  font-family: "Arial Black", sans-serif;


}
img {
  width: auto;
  margin-right: 0;
  margin-left: 0;
}
li {
  font-size: 1.5em;
}
h3 {
  font-weight: bolder;
  font-size: 3em;
  padding-top: 15px;
}

#gras {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

a#mail::after {
  content: '';
  height: 65%;
  position: absolute;
  bottom: -10%;
  left: 10%;
  right: -5%;
  background: lightblue;
  z-index: -2;
}


.rtext {
  font-size: 12px;
}

.titre
{
  width: 100%;
  margin-top: 0;
  margin-bottom: 5em;
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
}

/*.wow {*/
/*  visibility: hidden;*/
/*}*/

.img-dot{
  width: 20px;
  height: 20px;
}

.img-idea{
  width: 150px;
  height: 150px;
}
