<div class="row">
  <div class="pb-md-5"><img class="img-fluid" [src]="contactpath" alt="rouen">
    <ul style="list-style: none; margin-top: 5px;">
      <li class="js-anim active">
      <li class=""><h3>ROUEN</h3></li>
      <li class="">47 Rue des halettes</li>
      <li class="">76000 ROUEN</li>
      <li id="gras">Franck GADRON</li>
      <li class=""><a href="tel:+33680929292">+336 80 92 92 92</a></li>
      <li class=""><a id="mail" href="mailto:contact@digiandco.com">contact@digiandco.com</a></li>
    </ul>
  </div>
</div>
