<div class="bg"></div>
<h1>Rouen Normandie Rugby</h1>
<div class="container">
  <div class="row">
    <div class="">
      <h2>Ensemble plus vite plus loin</h2>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>
        Le Rouen Normandie Rugby, club historique de Rugby à Rouen, nourrit l'ambition de mettre la Normandie sur la carte de France du rugby. Fidélisant le Grand-Ouest autour d'un projet fédérateur, l'ambition est de devenir la référence du spectacle sportif Normand.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="">
      <h2>Une ambition associative et régionale</h2>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>
        Au-delà d'un objectif d'accession en ProD2 témoignant du travail effectué, le club désire rassembler autour d'un projet commun: éducatif, sportif, associatif. Tête de file d'un modèle local, le Rouen Normandie Rugby intervient auprès de l'ensemble des acteurs régionaux.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="">
      <h2>Une référence du spectacle sportif</h2>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>
        Comprenant que le spectateur désire plus qu'un match, notamment dans ce sport où l'humain occupe une place importante, le Rouen Normandie Rugby a désiré mettre en place un dispositif d'innovations et d'activations spectateurs lors de la demi-finale d'accession en ProD2 face au SC albi, à destination de 8000 spectateurs. Le mur digital était alors une réponse appropriée.
      </p>
    </div>
  </div>
</div>
