<div class="body">
  <div class="bg">
    <div class="h-100 d-inline-block titre">
      <div class="col-md-6 white-text wow fadeInLeft" data-wow-delay="0.3s">
        <h1 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold text-center text-uppercase">Rouen Normandie Rugby</h1>
      </div>
    </div>
  </div>
</div>
<img class="image-article rounded wow fadeInUp" data-wow-delay="0.3s" src="../../../assets/img/partenaires/Rugby%207.jpg" alt="rn-rugby">
<div class="container text-justify mt-5">
  <div class="text-center">
    <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
      <h2 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold">Ensemble plus vite plus loin</h2>
    </div>
  </div>
  <div class="wow fadeInUp" data-wow-delay="0.3s">
    <p>
      Le Rouen Normandie Rugby, club historique de Rugby à Rouen, nourrit l'ambition de mettre la Normandie sur la carte de France du rugby. Fidélisant le Grand-Ouest autour d'un projet fédérateur, l'ambition est de devenir la référence du spectacle sportif Normand.
    </p>

  </div>
  <img class="image-article rounded wow fadeInUp" data-wow-delay="0.3s" src="../../../assets/img/partenaires/Rugby 5.jpg" alt="Rn Rugby">

  <div class="text-center">
    <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
      <h2 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold">Une ambition associative et régionale</h2>
    </div>
  </div>
  <div class="wow fadeInUp" data-wow-delay="0.3s">

    <p>
      Au-delà d'un objectif d'accession en ProD2 témoignant du travail effectué, le club désire rassembler autour d'un projet commun: éducatif, sportif, associatif. Tête de file d'un modèle local, le Rouen Normandie Rugby intervient auprès de l'ensemble des acteurs régionaux.
    </p>
  </div>
  <img class="rounded float-left image-article wow fadeInUp" data-wow-delay="0.3s"  src="../../../assets/img/partenaires/Rugby 2.jpg" alt="masselin">
  <div class="clear"></div>
  <img class="image-article rounded wow fadeInUp" data-wow-delay="0.3s" src="../../../assets/img/partenaires/Rugby 8.jpg" alt="Rn Rugby">
  <div class="text-center">
    <div class="text-uppercase wow fadeInUp" data-wow-delay="0.3s">
      <h2 style="font-family: moonGetHeavy, sans-serif" class="font-weight-bold">Une référence du spectacle sportif</h2>
    </div>
  </div>
  <div class="wow fadeInUp" data-wow-delay="0.3s">

    <p>
      Comprenant que le spectateur désire plus qu'un match, notamment dans ce sport où l'humain occupe une place importante, le Rouen Normandie Rugby a désiré mettre en place un dispositif d'innovations et d'activations spectateurs lors de la demi-finale d'accession en ProD2 face au SC albi, à destination de 8000 spectateurs. Le mur digital était alors une réponse appropriée.
    </p>
  </div>

</div>
