<h1>
    {{ title }}!
</h1>

<form class="text-center border border-light p-5" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="content">
        <p class="h4 mb-4">Contact</p>
        <input class="form-control mb-4" formControlName="nom" placeholder="Votre Nom">

        <div *ngIf="myForm.get('name').hasError('required')">
            Rentrez un nom.
        </div>

        <input class="form-control mb-4" formControlName="email" placeholder="Votre  email">

        <div *ngIf="myForm.controls.email.hasError('pattern')">
            Rentrez un email.
        </div>

        <input class="form-control rounded-0" formControlName="message" placeholder="Votre message">

        <div *ngIf="myForm.controls.message.errors.minlength">
            Votre message doit comporter 15 caratères mimimum.
        </div>

        <button class="btn btn-danger btn-x1" type="submit" [disabled]="myForm.invalid">
            Envoyer
        </button>
    </div>
</form>
