<main>
  <div class="">
    <div class="">
      <div class=" text-center">
        <div class=" h-100 d-inline-block titre">
          <div class="titre">
            <h2 class="">ÉQUIPE</h2>
            <h2>D'ÉXPERIENCE</h2>
            <h2>ÉVENEMENTIELLE</h2>
            <div class="container text-center">
              <div class="float-md-left text-center">
                <h5>Rouen</h5>
              </div>
              <div class="float-md-left">
                <h5>Paris</h5>
              </div>

            </div>

            <a href="#"><img class="arrow-navigate"
                             [src]="arpath"
                             alt="incône flèche"></a>
          </div>
        </div>
        <div class="mt-5 pt-5">
          <h3 class="display-4">FC ROUEN</h3>
          <h3 class="display-4">RN RUGBY</h3>
          <h3 class="display-4">MASSELIN</h3>
          <h3 class="display-4">ALTITUDE</h3>
          <h3 class="display-4">CREDIT MUTUEL</h3>
          <h3 class="display-4">NOVICK'S</h3>
          <p class="h2-responsive font-weight-bold">Plus?</p>
        </div>
        <div class="actus "><h2 class="display-2 font-weight-bold">ACTUS</h2></div>
          <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>        <div>
        <h4>Article</h4>
        <p>01 01 2020</p>
        <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
      </div>


        <div class= "container-fluid banniere text-center">
          <div>
            <p>Vous êtes intéréssés? <br>
              On a encore mieux...</p>
          </div>
          <div>
            ON EN PARLE ?
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
