<main>
  <div class="">
    <div class="">
      <div class=" text-center">
        <div class=" h-100 d-inline-block titre">
          <div class="titre">
            <h1 class="wow fadeInUp display-4">ÉQUIPE</h1>
            <h1 class="wow fadeInUp">D'ÉXPERIENCE</h1>
            <h2 class="wow fadeInUp">ÉVENEMENTIELLE</h2>
            <div class="wow fadeInUp delay-1s container text-center">
                <h5>Rouen Paris</h5>
            </div>

<!--            <a href="#"><img class="arrow-navigate"-->
<!--                             [src]="arpath"-->
<!--                             alt="incône flèche"></a>-->
          </div>
        </div>
        <div class="mt-5 pt-5">
          <h3 class="wow fadeInUp display-4">FC ROUEN</h3>
          <h3 class="wow fadeInUp display-4">RN RUGBY</h3>
          <h3 class="wow fadeInUp display-4">MASSELIN</h3>
          <h3 class="wow fadeInUp display-4">ALTITUDE</h3>
          <h3 class="wow fadeInUp display-4">CREDIT MUTUEL</h3>
          <h3 class="wow fadeInUp display-4">NOVICK'S</h3>
          <p class="wow fadeInUp h2-responsive font-weight-bold">Plus?</p>
        </div>
        <div class="actus wow bounceIn"><h2 class="display-2 font-weight-bold">ACTUS</h2></div>
          <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>
        <div>
          <h4>Article</h4>
          <p>01 01 2020</p>
          <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
        </div>        <div>
        <h4>Article</h4>
        <p>01 01 2020</p>
        <p>L'EXPERIENCE COLLABORATEUR ET PRODUCTIVITE</p>
      </div>


        <div class= "wow  banniere text-center h1-responsive">
          <span  typingAnimation [typeSpeed]="20" [startDelay]="1000" (complete)="onComplete()">
            <p>
                Vous êtes intéréssés? <br>
               On a encore mieux... <br>
            </p>
          </span>
          <div class="wow fadeInUp delay-2s">
            <p>ON EN PARLE ?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
