<div class="animated ">
  <div class="">
    <div class=" text-center">
      <div class=" h-150 d-inline-block titre">
        <div class="titre">
          <h1 style="font-size: 2.1em;" class="wow fadeInUp display-4">ÉQUIPE</h1>
          <h1 style="font-size: 2.1em;" class="wow fadeInUp">D'EXP&Eacute;RIENCE</h1>
          <h2 style="font-size: 2.1em;" class="wow fadeInUp">ÉV&Egrave;NEMENTIELLE</h2>
          <div class="wow fadeInUp delay-1s container text-center" style="font-family: 'Arial Black', sans-serif">
            <h5><a style="color: black" routerLink="/contact" routerLinkActive="active">Rouen</a>
              <img src="./assets/img/icone/dot.png" class="img-dot" alt="imgPoint">
              <a style="color: black" routerLink="/contact" routerLinkActive="active">Paris</a>
            <img src="./assets/img/icone/dot.png" class="img-dot" alt="imgPoint"><a style="color: black"
                                                                                    routerLink="/contact"
                                                                                    routerLinkActive="active">Le
            Havre</a></h5>
          </div>
        </div>
      </div>
      <div class="mt-5 pt-5 mb-5">
        <h3 class="wow fadeInUp display-4" data-wow-delay="0.5s"><a style="color: black; font-size: 0.9em;"
                                                                    routerLink="/partenaires/fc-rouen"
                                                                    routerLinkActive="active">FC
          ROUEN</a></h3>
        <h3 class="wow fadeInUp display-4" data-wow-delay="0.5s"><a style="color: black; font-size: 0.9em;"
                                                                    routerLink="/partenaires/rn-rugby"
                                                                    routerLinkActive="active">RN
          RUGBY</a></h3>
        <h3 class="wow fadeInUp display-4" data-wow-delay="0.5s"><a style="color: black; font-size: 0.9em;"
                                                                    routerLink="/partenaires/masselin"
                                                                    routerLinkActive="active">RESSORTS MASSELIN</a></h3>
        <h3 class="wow fadeInUp display-4" data-wow-delay="0.5s"><a style="color: black; font-size: 0.9em;" routerLink="/wip"
                                                                    routerLinkActive="active">ALTITUDE TELECOM</a></h3>
        <h3 class="wow fadeInUp display-4" data-wow-delay="0.5s"><a style="color: black; font-size: 0.9em;" routerLink="/wip"
                                                                    routerLinkActive="active">NOVICK'S</a></h3>
        <p class="wow fadeInUp h2-responsive font-weight-bold plus" data-wow-delay="0.5s"><a class="plus"
                                                                                             routerLink="/wip"
                                                                                             routerLinkActive="active">Plus?</a>
        </p>
      </div>
      <div class=" h-100 d-inline-block actus wow bounceIn"><h2 style="font-size: 1.2em;"
                                                                class="display-2 font-weight-bold"><a class="linkRs"
                                                                                                      href="https://www.facebook.com/Digiandco/"
                                                                                                      target="_blank">ACTUS</a>
      </h2></div>
      <div class="container text-left">
               <a style="color: black" routerLink="/article" routerLinkActive="active">
                 <div class="row" *ngFor="let dat of data" [routerLink]="['/article/', dat._id]">
                   <div class="col-2"></div>
                   <div class="col-8">
                     <div class="wow fadeInUp float-left">
                       <p class="titre-artcile float-left text-uppercase">{{dat.art_type }}</p>
                       <img src="./assets/img/icone/dot.png" class="img-dot float-left" alt="dot">
                       <p class="float-left font-weight-normal">{{dat.created_at }}</p>
                       <p class="text-uppercase float-left">{{dat.title }}</p>
                     </div>
                   </div>
                   <div class="col-2"></div>
                 </div>
               </a>
               <div class="clear"></div>
<!--               <a style="color: black" routerLink="/article" routerLinkActive="active">-->
<!--                 <div class="row">-->
<!--                   <div class="col-2"></div>-->
<!--                   <div class="col-8">-->
<!--                     <div class="wow fadeInUp float-left">-->
<!--                       <p class="titre-artcile float-left text-uppercase">News </p>-->
<!--                       <img src="./assets/img/icone/dot.png" class="img-dot float-left">-->
<!--                       <p class="float-left font-weight-normal">31 12 2019</p>-->
<!--                       <p class="text-uppercase float-left">Un nouvel équipier chez Digi and Co</p>-->
<!--                     </div>-->
<!--                   </div>-->
<!--                   <div class="col-2"></div>-->
<!--                 </div>-->
<!--               </a>-->
<!--               <div class="clear"></div>-->
<!--               <a style="color: black" routerLink="/article" routerLinkActive="active">-->
<!--                 <div class="row">-->
<!--                   <div class="col-2"></div>-->
<!--                   <div class="col-8">-->
<!--                     <div class="wow fadeInUp float-left">-->
<!--                       <p class="titre-artcile float-left text-uppercase">Partenariat </p>-->
<!--                       <img src="./assets/img/icone/dot.png" class="img-dot float-left">-->
<!--                       <p class="float-left font-weight-normal">01 01 2020</p>-->
<!--                       <p class="text-uppercase float-left">Retrouvez le mur chez notre partenaire</p>-->
<!--                     </div>-->
<!--                   </div>-->
<!--                   <div class="col-2"></div>-->
<!--                 </div>-->
<!--               </a>-->
<!--               <div class="clear"></div>-->
      </div>
      <div class="wow banniere text-center h1-responsive">
        <div class="" typingAnimation [typeSpeed]="20" [startDelay]="1000">
          <p>
            Vous êtes intéréssés?
            On a encore mieux...
          </p>
        </div>
        <div class="wow fadeInUp delay-2s mt-3">
          <a routerLink="/contact" routerLinkActive="active">ON EN PARLE ?</a>
        </div>
      </div>
    </div>
  </div>
</div>
